Customer Random Data Test.json
{
  "name": "Customer Random Data Test",
  "nodes": [
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "44deb40d-8266-4f3c-945d-64b34e278591",
      "name": "Customer Datastore (n8n training)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        0
      ],
      "id": "0965867e-f258-4594-80c1-f990f261aa61",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "456c68ac-72d9-406e-8af7-864a7651836d",
              "leftValue": "={{ $json.Country }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "9ce3dc8f-0d1d-4387-a225-8527668e8162",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e58bf750-a46c-4914-b15c-ba5e36ca11fb",
              "name": "Full Name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "6cfd041a-7753-4c62-8a57-db0fe09a6ae9",
              "name": "Email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "37650a00-74fc-4525-bf46-8c26112e80fd",
              "name": "Country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "2a89490d-aa2e-4e7f-9d42-6c96b99a0656",
              "name": "ID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "481eb64c-387e-41df-81eb-87213867789a",
      "name": "Edit Fields- Data Filter "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0651ac83-b665-46dd-8512-5dad714e44a2",
              "name": "FullName",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "7ca9c945-c00d-45ae-b93a-d443723ff310",
              "name": "Country",
              "value": "={{ $json.Country }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -256
      ],
      "id": "2c701d65-57f2-4e9a-a1d5-e7d5e5979b7f",
      "name": "Edit Fields-Country"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54312aff-c6a0-4be0-8632-654c850a1b1e",
              "name": "ID",
              "value": "={{ $json.ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        144
      ],
      "id": "48fa38cd-64e0-4fd3-86d2-0ee25c763d95",
      "name": "Edit Fields-No Country"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Edit Fields- Data Filter ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields- Data Filter ": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields-Country",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields-No Country",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "93c1aea8-58bb-46f5-a45e-71e920b90f64",
  "meta": {
    "instanceId": "9415f7398b6025040c0e59f2400942330319d08e28d10e96e6db3d51cd32e420"
  },
  "id": "AXOzIndNl9KaQ9ih",
  "tags": []
}