Functional TestCase Generator Final.json
{
  "name": "Functional TestCase Generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Functional TestCase Generator ",
        "formDescription": "Functional TestCase Generator will help you to Generate Test case from your User Story !",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "User Story",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Test Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {},
                  {
                    "option": "Functional"
                  },
                  {
                    "option": "Non-Functional"
                  },
                  {
                    "option": "Performance"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Acceptance Criteria",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Number of Test Cases",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "9d1f5579-7114-47ba-9464-3d32bfd2c645",
      "name": "On form submission",
      "webhookId": "8284b671-77a1-4195-abc4-30509f14f674"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nAs you are a QA assistant,\n\ncreate  {{ $json['Number of Test Cases'] }} {{ $json['Test Type'] }} test case including positive and Negative flow in XRAY+Jira format and store in html table.\n\nfor the following user story with acceptance criteria and test data\n\nUser story:  {{ $json['User Story'] }}\n\nAcceptance criteria : {{ $json['Acceptance Criteria'] }}\nTest Data: you Generate some random data\n\nInclude Author, Environment , user story and acceptance criteria and details about application on header of html table with colour coding ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "96ec3025-f88e-46f1-9efe-5c49e68b3c26",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        224
      ],
      "id": "26254912-3119-4e8e-ade5-7feedcc5cc80",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yfLpMMSqfn2Bt9g1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "={{ $('On form submission').item.json['Test Type'] }} - Test Cases",
        "message": "=Dear {{ $('On form submission').item.json.Name }}, \n\nPlease find Below {{ $('On form submission').item.json['Number of Test Cases'] }} Test cases generated by AI agent\n\n{{ $json.output }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        0
      ],
      "id": "e00c449d-05d5-4146-ba4a-da05d0767e7c",
      "name": "Send a message",
      "webhookId": "011933f4-6e27-4af3-a577-e47387db6329",
      "credentials": {
        "gmailOAuth2": {
          "id": "WqHZ4xtcvw87mnuw",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3639d9f2-4e1d-4d02-894e-328d91f3bcb4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfab3dfb3a337e915778dbca5d1c85928525ca3ace11e5bfb3a25831f2f370d5"
  },
  "id": "xcT11ihpJLAoGl33",
  "tags": []
}