Product Delivery Agent Final.json
{
  "name": "Product Delivery Agent Final",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "16ca2e49-c9d2-4f40-bdc4-e3610dab582c",
      "name": "When chat message received",
      "webhookId": "883188fb-9ccc-43af-b2bf-2cef0635f691"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a smart food ordering assistant for “abb Restaurant\".  \n\nRules:  \n\n1. When a user sends their first message (like hi, hello), reply with:  \n\"Welcome to abb Restaurant 🍽️  \nHow can I help you today?  \n- 🛒 Place an order  \n- ℹ️ FAQ / Information  \n- 📦 Check order / stock\"  \n\n(👉 Keep the tone friendly like a food delivery app, not like a product e-commerce site)  \n\n2. If user wants *order*:  \n- Ask step by step: name, Email, food item, quantity  \n- Check Inventory sheet before confirming  \n   - If available → \"Your order for *[item]* (x quantity) is confirmed ✅, Please check your mailbox for order details“  \n\n   - If not available → \"Sorry, *[item]* is out of stock ❌. Available options: [list items]\"  \n- Only confirmed orders go into the Orders sheet  \n- In Orders sheet always include:  \n   Status = Confirmed / Rejected  \n   Description = \"Order accepted (item available)\" OR \"Order rejected (out of stock)\"  \n\n3. If user wants *FAQ*:  \n- Answer short and clear (delivery time, payment method, restaurant hours)  \n\n4. If user wants *check order* or *check stock*:  \n- Ask for food name or order id  \n- Look up in Google Sheets (Orders / Inventory)  \n   - If checking order → reply with status (Confirmed / Rejected / Cancelled / Delivered)  \n   - If checking stock → reply with available quantity of that food  \n   - Also list all *available* food items with quantity if requested  \n\n5. If user wants *cancel order*:  \n- Reply politely:  \n  \"Sorry 🙏 I cannot cancel orders directly.  \n   Please call the restaurant owner first and inform them.  \n   Owner Contact: +95 1224567890\"  \n\n6. Always reply in short text like a normal WhatsApp chat  \n- Do not use **bold** or long paragraphs  \n- Use *stars* only for highlighting words  \n- Keep tone friendly, polite, and food-delivery app style  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "4928565e-7cd4-4109-b299-715d4f6e2a5d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "585ccd8b-9261-4db7-971b-64eb1f9c2eb9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yfLpMMSqfn2Bt9g1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "e77a7850-e561-474f-8d43-5d8b02df8a53",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TehmFaEH9VLUKyy0UIZ_aNkK8pQ0W31n__5qT9hLOkg",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TehmFaEH9VLUKyy0UIZ_aNkK8pQ0W31n__5qT9hLOkg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 229310416,
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TehmFaEH9VLUKyy0UIZ_aNkK8pQ0W31n__5qT9hLOkg/edit#gid=229310416"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        224
      ],
      "id": "0b6b33a7-d54e-4651-b01b-b0b3fee69b0c",
      "name": "Stock of Product",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4SkzOVq6SPKzBLjQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1TehmFaEH9VLUKyy0UIZ_aNkK8pQ0W31n__5qT9hLOkg",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TehmFaEH9VLUKyy0UIZ_aNkK8pQ0W31n__5qT9hLOkg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1085579702,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TehmFaEH9VLUKyy0UIZ_aNkK8pQ0W31n__5qT9hLOkg/edit#gid=1085579702"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Food Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item', ``, 'string') }}",
            "Quantity Ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity_Ordered', ``, 'string') }}",
            "Order Date": "={{ $now.format('yyyy-MM-dd hh-mm-ss a') }}",
            "OrderId": "=abb{{ $now.format('MMddhhmmss') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "OrderId",
              "displayName": "OrderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Food Item",
              "displayName": "Food Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity Ordered",
              "displayName": "Quantity Ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        608,
        224
      ],
      "id": "de5a335c-2d10-4dda-9def-c307bce39b7e",
      "name": "Order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4SkzOVq6SPKzBLjQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TehmFaEH9VLUKyy0UIZ_aNkK8pQ0W31n__5qT9hLOkg",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TehmFaEH9VLUKyy0UIZ_aNkK8pQ0W31n__5qT9hLOkg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 805098977,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TehmFaEH9VLUKyy0UIZ_aNkK8pQ0W31n__5qT9hLOkg/edit#gid=805098977"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        736,
        224
      ],
      "id": "34227e0d-0d7a-4e06-a888-e10b1ded261c",
      "name": "FAQ'S",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4SkzOVq6SPKzBLjQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TehmFaEH9VLUKyy0UIZ_aNkK8pQ0W31n__5qT9hLOkg",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TehmFaEH9VLUKyy0UIZ_aNkK8pQ0W31n__5qT9hLOkg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1085579702,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TehmFaEH9VLUKyy0UIZ_aNkK8pQ0W31n__5qT9hLOkg/edit#gid=1085579702"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        0
      ],
      "id": "9b24ea4f-7e7a-4b61-9d85-46d9058337fc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4SkzOVq6SPKzBLjQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "Confirmed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6d756c4a-3660-4020-a1dc-4317a10c382f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3ee5a279-b0ed-4e19-9b22-846b92976314",
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "Rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1168,
        0
      ],
      "id": "65b358b3-c8c7-4cdc-a74b-be3780cd0749",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Your Order Confirmed ! OrderID :{{ $json.OrderId }}",
        "message": "=Dear {{ $json['Customer Name'] }},\n\nThank you for placing Order !\n\nPlease find below are the order details \n\nOrder Id : {{ $json.OrderId }},\nCustomer Name:{{ $json['Customer Name'] }},\nEmail :{{ $json.Email }},\nFood Name :{{ $json['Food Item'] }},\nQuantiy  : {{ $json['Quantity Ordered'] }},\nStatus : {{ $json.Status }}\n\nRegards,\nabb Resturant,Mob:+91 1234567890\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        -96
      ],
      "id": "3946d845-b806-4634-a297-239c49738575",
      "name": "Send a message",
      "webhookId": "e30f8498-fba6-4e4c-a47f-067e7428f8c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "WqHZ4xtcvw87mnuw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Your Order Rejected ! OrderID :{{ $json.OrderId }}",
        "message": "=Dear {{ $json['Customer Name'] }},\n\nThank you for placing Order !\n\nPlease find below are the order details \n\nOrder Id : {{ $json.OrderId }},\nCustomer Name:{{ $json['Customer Name'] }},\nEmail :{{ $json.Email }},\nFood Name :{{ $json['Food Item'] }},\nQuantiy  : {{ $json['Quantity Ordered'] }},\nStatus : {{ $json.Status }}\n\nRegards,\nabb Resturant,Mob:+91 1234567890\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        96
      ],
      "id": "8697256c-b79e-47d9-b99f-6c24c208cef2",
      "name": "Send a message1",
      "webhookId": "e30f8498-fba6-4e4c-a47f-067e7428f8c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "WqHZ4xtcvw87mnuw",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Stock of Product": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FAQ'S": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "113ff128-a8b2-4317-8aa2-5a11adba6477",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfab3dfb3a337e915778dbca5d1c85928525ca3ace11e5bfb3a25831f2f370d5"
  },
  "id": "LK8PKdpQSDleYWTp",
  "tags": []
}