Test Plan Generator.json
{
  "name": "Test Plan Generator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1632,
        -192
      ],
      "id": "6bd7596f-d3de-4364-a9f1-252feae9a691",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1632,
        208
      ],
      "id": "22b521ef-1c25-4ed1-aa27-0b038c9219c6",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1632,
        608
      ],
      "id": "8d064d3e-86ff-4e6c-8508-2aeb99170466",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1616,
        1056
      ],
      "id": "48d661fc-8ea6-41bb-bed1-5d20af5a4506",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1632,
        32
      ],
      "id": "b1826120-f44f-49a0-a264-d123f57705d9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kM1rpSnYbn2YeM47",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1632,
        432
      ],
      "id": "81d52e55-45b4-4f3f-80d3-6b33c2d51362",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "kM1rpSnYbn2YeM47",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1632,
        832
      ],
      "id": "62ee8b84-e36e-47ef-b9ae-573b95efd280",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "kM1rpSnYbn2YeM47",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1632,
        1344
      ],
      "id": "64bcf3de-17bd-4f40-b310-a6fc42e4ab60",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "kM1rpSnYbn2YeM47",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1504,
        32
      ],
      "id": "8812e5ec-30e4-4001-b06a-c80330165d4a",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1504,
        432
      ],
      "id": "0832b541-7a9a-4fa9-8e00-f17892f254f9",
      "name": "Simple Memory1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1504,
        832
      ],
      "id": "1c392469-d160-4a7a-bb45-3f1708373cca",
      "name": "Simple Memory2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1504,
        1344
      ],
      "id": "23c121b5-7cb9-472b-97a6-01dded78ea98",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['How Can Help You ?'] }}",
                    "rightValue": "Test Strategy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d30037f2-23e4-4346-ae51-32abfa7d11cd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "660d2c8e-f291-4254-a8ad-94e78254ff38",
                    "leftValue": "={{ $json['How Can Help You ?'] }}",
                    "rightValue": "Test Plan",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cb6c58ac-e09b-42ee-acff-0445c1d03ad9",
                    "leftValue": "={{ $json['How Can Help You ?'] }}",
                    "rightValue": "Test Case",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "679f71d3-14ed-4f70-95bc-276269bae271",
                    "leftValue": "={{ $json['How Can Help You ?'] }}",
                    "rightValue": "Bug Report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2720,
        464
      ],
      "id": "bbebbd82-bb67-4de3-912b-50609add8b80",
      "name": "QA Input Type"
    },
    {
      "parameters": {
        "formTitle": "QA Assistant Tool",
        "formDescription": "This Agent is used to generate Test Strategy,  Test Plan, Test Case and bug report etc.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "How Can Help You ?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Test Strategy"
                  },
                  {
                    "option": "Test Plan"
                  },
                  {
                    "option": "Test Case"
                  },
                  {
                    "option": "Bug Report"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -3232,
        512
      ],
      "id": "b9afdd98-4d57-42cc-bbca-e7b0afd20899",
      "name": "QA Input",
      "webhookId": "ccd28b61-b2b7-4b40-b56e-8d63cba60667"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "QA Input Type": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Input": {
      "main": [
        [
          {
            "node": "QA Input Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "82ce9d82-c878-4404-8bae-60a4b50db023",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42cbc33677961ebb8ab2767fe5b3a0f9922574e3cdd58db7842e8289b0c92a57"
  },
  "id": "MceznV2k1XZ003jl",
  "tags": [
    {
      "updatedAt": "2026-04-05T05:12:00.944Z",
      "createdAt": "2026-04-05T05:12:00.944Z",
      "id": "fwrkI8QSdp6ZSQbE",
      "name": "abbcreation"
    }
  ]
}