Workflow User Guide from Json file.json
{
  "name": "Workflow User Guide from Json file",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert technical documentation writer and automation architect. I will provide you with an exported workflow JSON from n8n (workflow automation platform). Your task is to analyze the JSON and generate a clear, beginner-friendly, step-by-step user guide explaining how the workflow works and how to use it. ## Instructions: 1. Read the entire JSON carefully. 2. Identify: * Workflow name * Trigger node(s) * Each node and its purpose * Integrations used (APIs, Gmail, HTTP, database, etc.) * Input parameters and expected outputs 3. Convert the workflow into a structured user guide. ## Output Format: ### 1. Overview * Workflow name * Purpose of the workflow * Use case/business scenario ### 2. Prerequisites * Accounts required (Gmail, API keys, ORDS, database, etc.) * Environment setup (n8n instance, credentials) ### 3. Workflow Architecture * Explain the flow from trigger to final output * List nodes in sequence ### 4. Step-by-Step Execution For each node: * Node name * Node type * What it does * Input parameters * Output it produces ### 5. Data Flow Explanation * How data moves between nodes * Key fields used (JSON keys, variables) ### 6. Configuration Steps for Users Explain how a new user can: * Import the workflow into n8n * Configure credentials * Update parameters * Activate the workflow ### 7. Example Execution Provide a sample input and output ### 8. Error Handling & Troubleshooting List common errors and how to fix them ### 9. Customization Options Explain how users can modify: * Filters * API endpoints * Parameters ### 10. Conclusion Summarize what the workflow achieves ## Style Guidelines: * Use simple English * Use bullet points * Use headings * Explain technical terms * Make it suitable for beginners. Now analyze the following n8n JSON workflow and generate the html format {{ $json.JSONContent }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "c0300cb0-2230-422a-859b-402b8ddaaa56",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "ce9f82d1-b0d5-4924-b1f3-ed4b098dc4e5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BrBgYcP5q4VDzUjM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "AIAgent - User Guide For Beginners",
        "message": "=Dear {{ $('On form submission').item.json.Email.split(\"@\")[0] }} ,\n\n{{ $json.output }}\n\nRegards,\nBibhu, Agentic AI Engineer",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        0
      ],
      "id": "7b52cdd9-6cea-43f6-ac55-70fb3c5d9adb",
      "name": "Send a message",
      "webhookId": "61c7d2d0-6c6b-48d9-99cf-0ac463a4ad51",
      "credentials": {
        "gmailOAuth2": {
          "id": "MGi30LTP2p7PJdaR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "n8n Workflow JSON file to User Guide Creation",
        "formDescription": "This Agent helps you to create step by step user guide for beginners from your n8n workflow JSON file.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "JSONContent",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -144,
        0
      ],
      "id": "b2eadcb9-39ce-43fd-832c-e6c2b03a5627",
      "name": "On form submission",
      "webhookId": "cb843e36-d787-48dd-b299-8b583bdefd74"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "47c3b3d6-5943-41a5-841d-1a9f029c80a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9415f7398b6025040c0e59f2400942330319d08e28d10e96e6db3d51cd32e420"
  },
  "id": "uSw1kQN6x9K6xskU",
  "tags": []
}